
version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: sitardaniel/worldofgames
    ports:
      - 5000:5000
    environment:
      - CURRENCY_API_KEY=${CURRENCY_API_KEY}
    command: ["python", "MainScores.py"]

