apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: worldofgames-pvc
  labels:
    app: worldofgames
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
